<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace: 命名空间,此属性通常用来映射Dao（Mapper）层接口. -->
<mapper namespace="com.taobao.mapper.UserMapper">
        <select id="queryUserByName" parameterType="String" resultType="com.taobao.bean.customerInfo">
    		select * from customer_info where name = #{userName}
        </select>

        <insert id="signIn" parameterType="String">
                insert into customer_info(name,pwd,nickname) values(#{arg0},#{arg1},#{arg2})

        </insert>

        <select id="loadMerchandise"   resultType="com.taobao.bean.merchandise">
        select * from merchandise
        </select>

        <select id="is_exist" parameterType="Map"  resultType="int">
                select count(name) from shopping_cart where name=#{name} and mer_id=#{m_id}
        </select>

        <update id="change_Count" parameterType="Map">
                update shopping_cart set count=count+#{m_count} where name=#{name} and mer_id=#{m_id}
        </update>

        <insert id="addCart"  parameterType="Map">
                insert into shopping_cart values(#{name},#{m_id},#{m_count})
        </insert>

        <select id="load_Cart" parameterType="String"  resultType="com.taobao.bean.Cart">
                select m.dis_img_source,m.id,m.m_dis,m.price,s.count
                from shopping_cart s,merchandise m
                where s.name=#{name} and s.mer_id=m.id
        </select>

        <delete id="cleanCart">
                delete from shopping_cart where mer_id in
                <foreach collection="array" open="(" close=")" item="item" separator="," >
                         #{item}
                </foreach>

        </delete>

        <select id="searchMerchandise" parameterType="String"  resultType="com.taobao.bean.merchandise">
                select *
                from merchandise
                where m_dis like "%"#{context}"%"
        </select>
<!--(select id from merchandise where m_dis='外贸原单法国纯亚麻水洗北欧纯色白色森林绿客厅卧室落地窗帘纱帘')-->




</mapper>
