<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace: 命名空间,此属性通常用来映射Dao（Mapper）层接口. -->
<mapper namespace="com.taobao.mapper.UserMapper">
        <select id="queryUserByName" parameterType="String" resultType="com.taobao.bean.customerInfo">
    		select * from customer_info where name = #{userName}
        </select>
        <select id="loadMerchandise"  resultType="com.taobao.bean.merchandise">
        select * from merchandise
        </select>



    <!-- id: 对应Dao（Mapper）层接口方法名 parameterType：指定输入参数类型 -->
    <!-- useGeneratedKeys="true"把新增加的主键赋值到自己定义的keyProperty（id）中 -->
    <!--    <select id="queryUserByName" parameterType="String" resultType="com.taobao.bean">-->
    <!--		select * from tb_user where userName = #{userName}-->
    <!--    </select>-->
    <!--    <select id="smenu" parameterType="Int" resultType="com.taobao.bean">-->
    <!--        SELECT b.sFile,b.Link FROM mainmenu a, smenu b WHERE b.f_id=a.id AND b.f_id = #{id}-->
    <!--    </select>-->

</mapper>
